// Body
$body-bg: #fcf8f8;
$text-color: #212529;

// Typography
$font-family-sans-serif: 'Work Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colour Palette
$pink: #fc6767;

// Standard Colours
$brand-primary: $pink;
